@font-face {
    font-family: "Acrom";
    src: url("/acrom-medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.border-10{
    border-top: 10px solid rgb(197,44,75);
}

.star {
    width: 20px;
    height: auto;
}
.like {
    width: 50px;
    height: auto;

}

.dropdown-btn{
    width: 500px !important;
    text-align: left;
}
.size-toggle{
    width: 30px;
    height: auto;
}

.btn-radius {
    border-radius: 50px !important;
}

.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #00000090;
}

.bg-doc {
    background-color: #29afd5 !important;
}

* {
    font-family: Acrom;
    font-weight: normal;
}

.index-1 {
    z-index: 1;
}
.index-5 {
    z-index: 5;
}