@font-face {
    font-family: "Acrom";
    src: url("/acrom-medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.img-size{
    width: 20px;
    height: auto;
}

.border-10{
    border-width: 10px!important;
}

.star {
    width: 20px;
    height: auto;
}
.star-mobile {
    width: 10px;
    height: auto;
}
.like {
    width: 50px;
    height: auto;
}

.style-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6rem !important
}






.size-toggle{
    width: 30px;
    height: auto;
}

.btn-radius {
    border-radius: 50px !important;
}

.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #00000090;
}

.bg-doc {
    background-color: #29afd5 !important;
}

* {
    font-family: Acrom;
    font-weight: normal;
}

.index-1 {
    z-index: 1;
}
.index-5 {
    z-index: 5;
}

table.specs td.name {
    overflow: hidden;
    white-space: nowrap;
}
table.specs td.amt {
    overflow: hidden;
}
table.specs td.name span:after{
    content: "........................................................................................................"
}



@media screen and (max-device-width: 600px) {
    .star {
        width: 10px;
        height: auto;
    }
    .like {
        width: 30px;
        height: auto;
    }
}

@media (max-width: 768px) {
    .btn-vertical {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }
    .btn-vertical > .btn,
    .btn-group > .btn {
        position: relative;
        float: left;
    }
    .btn-vertical > .btn,
    .btn-vertical > .btn-group,
    .btn-vertical > .btn-group > .btn {
        display: block;
        float: none;
        width: 100%;
        max-width: 100%;
    }
    .btn-vertical > .btn-group > .btn {
        float: none;
    }
    .btn-vertical>.btn+.btn,
    .btn-vertical>.btn+.btn-group,
    .btn-vertical>.btn-group+.btn,
    .btn-vertical>.btn-group+.btn-group {
        margin-top: -1px;
        margin-left: 0;
    }
    .btn-vertical>.btn:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
    .btn-vertical>.btn:first-child:not(:last-child) {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .btn-vertical>.btn:last-child:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .btn-vertical>.btn-group:not(:first-child):not(:last-child)>.btn {
        border-radius: 0;
    }
    .btn-vertical>.btn-group:first-child:not(:last-child)>.btn:last-child,
    .btn-vertical>.btn-group:first-child:not(:last-child)>.dropdown-toggle {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .btn-vertical>.btn-group:last-child:not(:first-child)>.btn:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
.btn-group.btn-group-lg .btn {
    border-radius: 0;
    border: none;
}



/* carousel*/
.col-carousel {
    margin: 70px 0;
}

/* owl nav */
.owl-prev span, .owl-next span {
    color: #FFF;
}

.owl-prev span:hover,
.owl-next span:hover {
    color: #8199A3;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 0;
    height: 100%;
}

.owl-prev {
    left: 7px;
}

.owl-next {
    right: 7px;
}

/* removing blue outline from buttons */
button:focus, button:active {
    outline: none;
}


